<form name="console" role="form" novalidate class="console" ng-class="{'open': open}" ng-submit="executeCommand()">

  <!-- Command list -->
  <div class="command-list"></div>

  <!-- New line -->
  <div class="new-line">
    <span class="prefix">{{ prefix }}</span>
    <input
      type="text"
      name="command"
      tab-index="1"
      autofocus
      autocomplete="off"
      ng-if="open"
      ng-model="command"
      />
    <!-- <input
      type="text"
      name="command"
      tab-index="1"
      autofocus
      autocomplete="off"
      list="commands"
      ng-if="open"
      ng-model="command"
      /> -->

    <!-- Command suggestions -->
    <datalist id="commands">
      <option ng-repeat="command in commands" value="{{ command.name }}">
    </datalist>
  </div>
</form>
